{% extends "base.html" %} {% block content %}

<div class="row mb-3">
  <h2>Todo list</h2>
</div>

<div class="row mb-3">
  <div class="col">
    {% comment %} 장고는 urls.py 에 지정한 name=" "인 것을 url 로 줘버리면 각각 링크를 전부 바꿀 필요가 없다 {% endcomment %}
    <a href="{% url "create" %}" class="btn btn-success"> <i class="fa-solid fa-plus"></i>Todo</a>
  </div>
  <div class="col text-end">
    <a href="{% url 'done_list' %}" class="btn btn-primary">완료된 Todo 목록</a>
  </div>
</div>
<table class="table mt-5">
  {% for todo in todos %}
  <tr>
    <th>
      <a href="{% url "read" id=todo.id %}" class="text-reset text-decoration-none">{{todo.title}}</a>
      {% if todo.important%}
      <span class="badge bg-danger">!</span>
      {% endif %}
    </th>
    <td class="text-end">
      <a href="{% url "done" id=todo.id %}" class="btn btn-danger btn-sm">완료</a>
      <a href="{% url "edit" id=todo.id %}" class="btn btn-outline-primary btn-sm">수정</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}
