{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "css/post.css" %}">
{% endblock css %}

{% block content %}
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="row">
          <div class="col-md-10">
            <h3 class="border-bottom pb-2">
              {% comment %} 제목 {% endcomment %}
              {{ post.title }}
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            {% comment %} 이미지 보여주기 {% endcomment %}
            {% if post.image %}
              <img src="{{ post.image.url }}" alt="" class="img-fluid">
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            {% comment %} 본문 {% endcomment %}
            <p>{{ post.content }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            {% comment %} 태그 {% endcomment %}
            {% if post.tags.all %}
              <div class="tags mt-2">
                <strong>태그:</strong>
                {% for tag in post.tags.all %}
                  <span class="badge bg-secondary">{{ tag.name }}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>

        {% comment %} 댓글 목록 처리 {% endcomment %}
        {% if post.comment_set.count > 0 %}
        <div class="row mt-5">
          <div class="col-md-10">
            <div class="card mb-5">
              <div class="card-header">
                <i class="fa-regular fa-comments"></i>
                Comments
              </div>
              {% for comment in post.comment_set.all %}
              <div class="card-body">
                <h5 class="card-title">
                  {% comment %} 댓글 내용 {% endcomment %}
                  {{ comment.content }}
                </h5>
                <div class="card-text text-end fs-6 bg-light">
                  {% comment %} 댓글 작성자(댓글 작성일시) {% endcomment %}
                  {{ comment.user }} ({{ comment.created_at }})
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}

        {% comment %} 댓글 등록 {% endcomment %}
        {% if user.is_authenticated %}
        <div class="row mt-5">
          <div class="col-md-10">
            <form action="{% url 'blog:comment_create' post.id %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <textarea name="content" id="content" class="form-control" rows="7"></textarea>
              </div>
              <div class="form-group d-grid">
                <button type="submit" class="btn btn-secondary">댓글 등록</button>
              </div>
            </form>
          </div>
        </div>
        {% endif %}

        <div class="row mt-3">
          <div class="col-md-10">
            <a href="{% url 'blog:modify' post.id %}" class="btn btn-info">수정</a>
            <a href="{% url 'blog:list' %}" class="btn btn-success">목록</a>
          </div>
        </div>

        {% include "like.html" %}
      </div>
    </div>
  </div>
</article>
{% endblock content %}

{% block script %}
<script src="{% static "js/post.js" %}"></script>
{% endblock script %}
