{% load static %}
{% load social_share %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>

  <body>
    <div class="post-detail">
      <h1>{{ post.title }}</h1>
      <p>{{ post.content }}</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          {% post_to_twitter post.get_absolute_url "[New Post] {{ post.title }}" %}
        </li>
        <li class="list-inline-item">
          {% post_to_facebook post.get_absolute_url %}
        </li>
        <li class="list-inline-item">
          {% post_to_telegram post.get_absolute_url "[New Post] {{ post.title }}" %}
        </li>
      </ul>
    </div>
  </body>

</html>
